name: Build

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions: read-all

jobs:
  build-linux-openssl:
    permissions:
      contents: read
    name: Build Linux (OpenSSL)
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@dd2c410b088af7c0dc8046f3ac9a8f4148492a95
      with:
        egress-policy: audit
    - name: Checkout repository
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
      with:
        submodules: 'recursive'
    - name: Generate
      run: mkdir build && cd build && cmake -G 'Unix Makefiles' -DMSH3_TOOL=on ..
    - name: Build
      run: cd build && cmake --build .
    - name: Upload
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
      with:
        name: bin-linux-openssl
        path: |
          build/**/*.so
          build/**/msh3app
    - name: Install
      run: cd build && sudo cmake --install . --config Debug
    - name: GET outlook.office.com
      run: /usr/local/lib/msh3app outlook.office.com -v
    - name: GET www.cloudflare.com
      run: /usr/local/lib/msh3app www.cloudflare.com -v
    - name: GET www.google.com
      run: /usr/local/lib/msh3app www.google.com -v
    - name: GET nghttp2.org:4433
      run: /usr/local/lib/msh3app nghttp2:4433 -v
  build-windows-openssl:
    permissions:
      contents: read
    name: Build Windows (OpenSSL)
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
      with:
        submodules: 'recursive'
    - name: Install Perl
      uses: shogo82148/actions-setup-perl@8eab529e8d2b76c858ac03481651d5e5cf738366
      with:
        perl-version: '5.34'
    - name: Install NASM
      uses: ilammy/setup-nasm@229bfed4a21b01237d340787ea51fd7c50a49c54
    - name: Generate
      run: mkdir build && cd build && cmake -G 'Visual Studio 17 2022' -A x64 -DQUIC_TLS=openssl -DMSH3_TOOL=on ..
    - name: Build
      run: cd build && cmake --build .
    - name: Upload
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
      with:
        name: bin-windows-openssl
        path: |
          build/**/*.dll
          build/**/msh3app.exe
    - name: Install
      run: cd build && cmake --install . --config Debug
    - name: GET outlook.office.com
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' outlook.office.com -v
    - name: GET www.cloudflare.com
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' www.cloudflare.com -v
    - name: GET www.google.com
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' www.google.com -v
    - name: GET nghttp2.org:4433
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' nghttp2.org:4433 -v
  build-windows-schannel:
    permissions:
      contents: read
    name: Build Windows (Schannel)
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
      with:
        submodules: 'recursive'
    - name: Generate
      run: mkdir build && cd build && cmake -G 'Visual Studio 17 2022' -A x64 -DMSH3_TOOL=on ..
    - name: Build
      run: cd build && cmake --build .
    - name: Upload
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
      with:
        name: bin-windows-schannel
        path: |
          build/**/*.dll
          build/**/msh3app.exe
    - name: Install
      run: cd build && cmake --install . --config Debug
    - name: GET outlook.office.com
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' outlook.office.com -v
    - name: GET www.cloudflare.com
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' www.cloudflare.com -v
    - name: GET www.google.com
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' www.google.com -v
    - name: GET nghttp2.org:4433
      run: |
        & 'C:/Program Files/msh3/lib/msh3app' nghttp2.org:4433 -v
