name: Build

on:
  push:
    branches: main
  pull_request:
    branches: main

concurrency:
  # Cancel any workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: build-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    name: Build
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows]
        tls: [schannel, openssl, openssl3]
        link: [static, shared]
        mode: [client-only, server]
        config: [Debug, Release]
        exclude:
        - os: ubuntu
          tls: schannel
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 15
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09
      with:
        egress-policy: audit
    - name: Checkout repository
      uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      with:
        submodules: 'recursive'
    - name: Install Perl
      if: runner.os == 'Windows'
      uses: shogo82148/actions-setup-perl@90aae5bc694fba230daa9573de620d6fe9198181
      with:
        perl-version: '5.34'
    - name: Install NASM
      if: runner.os == 'Windows'
      uses: ilammy/setup-nasm@321e6ed62a1fc77024a3bd853deb33645e8b22c4
    - name: Build
      shell: pwsh
      run: ./.github/workflows/build.ps1 -Config ${{ matrix.config }} -Tls ${{ matrix.tls }} -Link ${{ matrix.link }} -Mode ${{ matrix.mode }} -BuildId ${{ github.run_number }} -Suffix "-official" -WithTests -WithTools -Debug
    - name: Upload
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32
      with:
        name: bin-${{ matrix.os }}-${{ matrix.tls }}-${{ matrix.link }}-${{ matrix.mode }}-${{ matrix.config }}
        path: |
          artifacts/*.dll
          artifacts/*.exe
          artifacts/*.so
          artifacts/msh3app
          artifacts/msh3test
    - name: msh3app
      run: |
        ./artifacts/msh3app outlook.office.com
        ./artifacts/msh3app www.cloudflare.com
        ./artifacts/msh3app www.google.com
    - name: msh3test
      if: matrix.mode == 'server'
      run: ./artifacts/msh3test
