name: Build

on:
  push:
    branches: main
  pull_request:
    branches: main

concurrency:
  # Cancel any workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: build-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    name: Build
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows]
        tls: [schannel, openssl]
        link: [static, shared]
        mode: [client-only, server]
        config: [Debug, Release]
        exclude:
        - os: ubuntu
          tls: schannel
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 15
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@c8454efe5d0bdefd25384362fe217428ca277d57
      with:
        egress-policy: audit
    - name: Checkout repository
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      with:
        submodules: 'recursive'
    - name: Install Perl
      if: runner.os == 'Windows'
      uses: shogo82148/actions-setup-perl@795ea77474d1f81da5b0a04028a5b94d4118a9c2
      with:
        perl-version: '5.34'
    - name: Install NASM
      if: runner.os == 'Windows'
      uses: ilammy/setup-nasm@321e6ed62a1fc77024a3bd853deb33645e8b22c4
    - name: Build
      shell: pwsh
      run: ./.github/workflows/build.ps1 -Config ${{ matrix.config }} -Tls ${{ matrix.tls }} -Link ${{ matrix.link }} -Mode ${{ matrix.mode }} -BuildId ${{ github.run_number }} -Suffix "-official" -WithTests -WithTools -Debug
    - name: Upload
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
      with:
        name: bin-${{ matrix.os }}-${{ matrix.tls }}-${{ matrix.link }}-${{ matrix.mode }}-${{ matrix.config }}
        path: |
          artifacts/*.dll
          artifacts/*.exe
          artifacts/*.so
          artifacts/msh3app
          artifacts/msh3test
    - name: msh3app
      run: |
        ./artifacts/msh3app outlook.office.com
        ./artifacts/msh3app www.cloudflare.com
        ./artifacts/msh3app www.google.com
    - name: msh3test
      if: matrix.mode == 'server'
      run: ./artifacts/msh3test
